<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--To silence class logging-->
<!--    <logger name="...rate.TransmitRateModulator" level="OFF"/>-->


    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>